// BEM style
.transition {
  transition: 0.2s;
}

.container {
  display: flex;
  &__editor {
    flex: 1;
    // padding: 15px;
    min-height: 100vh;
  }
  &__output {
    flex: 1;
    height: 100vh;
    &__latex-container {
      padding: 15px;
      height: 100vh;
      overflow-y: scroll;
    }
  }
}

.downloadButton {
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  border-radius: 100%;
  padding: 10px;
  background-color: #006aff;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #0052c5;
  }
}
