// BEM style

.container {
  display: flex;
  &__editor {
    flex: 1;
    // padding: 15px;
    min-height: 100vh;
  }
  &__output {
    flex: 1;
    min-height: 100vh;
    &__latex-container {
      padding: 15px;
    }
  }
}
